---
stage: verify
run: feature:fixture
date: 2026-07-01
---

# Verify: fixture
